body {
    background: url(/static/img/capitol.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: grid;
    grid-template-columns: .45fr repeat(2, 1fr);
    grid-template-rows: .1fr repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 
        "sidebar header header"
        "sidebar main main"
        "sidebar main main";
    margin: 0;
    margin-bottom: 0;
    height: 100vh;
    background-color: #EBEBEB;
    font-family: 'Fjalla One', sans-serif;
}


.nav { 
    grid-area: header;
    z-index: 1;
    background-color: #000b4f;
    height: 80px;
    width: auto;
}

.nav ul {
    margin-left: 60%;
    /*margin-right: 5%;*/
}

.nav li {
    font-size: 1.5em;
    display: inline-block;
    border: 3px solid #EBEBEB;
    margin-right: 3%;
    padding: 10px;
}

.nav li:hover {
    font-size: 1.5em;
    display: inline-block;
    border: 3px solid #829CD0;
    box-shadow: 3px 2px #EBEBEB;
    background-color: #EBEBEB;
}

.nav a:hover {
    text-shadow: 1px 1px #000b4f;
}

li {
    list-style: none;
    padding: 5px;
}

#navtitle {
    color: #EBEBEB;
    letter-spacing: .2em;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #829CD0;
    text-shadow: .5px .5px #EBEBEB;;
    text-decoration: none;
}

div h2 a {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#content {
    grid-area: main;
    background-color: rgba(255, 255, 255, 0.801);
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 12px;
    overflow: scroll;
}

.post-content {
    color: black;
}

#comment_count {
    margin-top: 150px;
}

.date {
    color: #20368F;
}

#sidebar {
    grid-area: sidebar;
    background-color: #000b4fa4;
    box-shadow: 25px 125px #829cd085;
    color: #EBEBEB;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
}

#sidebar h2 {
    font-size: 3.2em;
    text-align: center;
}

span {
    color: #829CD0;
}

.latest_art {
    margin-top: 160px;
}

.latest_art ul {
    border-left: 3px solid #EBEBEB;
}

h1 {
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

.info {
    margin: 0;
}

.detail_post, .all-posts {
    height: 100vh;
    margin: 3%;
}

.current {
    color: #323232;
}

.pagination-link {
    color: #6D6D6D;
}








